/* my orders */
._orders {
  margin-block: 2.5rem;
  text-align: center;
}

._orders h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 1.5;
  padding-bottom: 2rem;
}

._orders h4 {
  margin-bottom: 1.5rem;
}

._orders .main_btn {
  color: #fff;
}

._orders img {
  max-width: 450px;
  margin-bottom: 3rem;
}

._orders a {
  color: inherit;
}

/* my order */
._order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 15px 0 rgb(6 30 98 / 15%);
  border-radius: 0.625rem;
  padding: 0.25rem;
  margin-bottom: 1.5rem;
}

._order > div {
  font-weight: bold;
  padding: 1rem;
  color: var(--primary-color);
}

._order > div span {
  font-weight: normal;
  color: var(--secondary-color);
}

._order button {
  border: 0;
  outline: 0;
  background: transparent;
  color: #ea3a4e;
  transition: color 0.2s ease-in-out;
}

._order button:hover {
  color: #c61928;
}

._order button.approve {
  font-weight: bold;
  color: var(--primary-color);
}

._order button.approve:hover {
  color: var(--primary-color-darkened);
}
