.tours {
  padding-block: 3.5rem;
  background: url(../../images/pattern-3.png) no-repeat top right,
    url(../../images/pattern-4.png) no-repeat top left;
}
/* grid */
.tours .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  .tours .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .tours .grid-container {
    grid-template-columns: 1fr;
  }
}
