.features {
  background-color: #f9f4f0;
  background-image: url(../../images/features.png);
  background-position: 86% 300px;
  background-repeat: no-repeat;
  background-size: auto;
  padding-block: 6rem;
}
