:root {
  --primary-color: #dc834e;
  --primary-color-darkened: #bb6939;
  --secondary-color: #202f59;
  --secondary-color-darkened: #17254d;
  --text-color: #8990a2;
}

/* resets */

a,
button,
input[type='submit'] {
  outline: none !important;
  text-decoration: none;
}

/* utilities */
.main_btn {
  font-size: 0.875rem;
  border-radius: 0.3125rem;
  font-weight: 700;
  background: var(--primary-color);
  padding: 0.75rem 1.25rem;
  color: #fff;
  outline: 0;
  border: 0;
  transition: 0.2s ease;
  text-align: center;
}

.main_btn:hover,
.main_btn:focus {
  background: var(--primary-color-darkened);
}

.title {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 3.75rem;
}

.subtitle {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.875rem;
  line-height: 1.5;
  color: var(--primary-color);
}
