body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* bootstrap over writes */
.modal-footer > button {
  border: 0 !important;
  box-shadow: none !important;
}

.modal-footer > button.btn-primary {
  background: var(--primary-color) !important;
}

.modal-footer > button.btn-secondary {
  background: var(--secondary-color) !important;
}
